AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
BinPackArguments: false
BinPackLongBracedList: true
BinPackParameters: OnePerLine
BitFieldColonSpacing: Both
BreakBeforeBraces: Attach
BreakStringLiterals: true
BreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
PointerAlignment: Right
QualifierAlignment: Left
ReferenceAlignment: Right
RemoveBracesLLVM: false
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: true
RemoveSemicolon: true
RequiresClausePosition: SingleLine
SeparateDefinitionBlocks: Always
SortIncludes: true
SortUsingDeclarations: Lexicographic
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 2
SpaceInEmptyBraces: Never
SpacesInAngles: Never
SpacesInLineCommentPrefix: 1
Standard: c++17
TabWidth: 4
UseTab: Never